<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
    <servlet>
    <servlet-name>AboutServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.groupProj.servlet.AboutServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.groupProj.servlet.IndexServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>InstructionsServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.groupProj.servlet.InstructionsServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ConsoleServlet2</servlet-name>
    <servlet-class>edu.ycp.cs320.groupProj.servlet.ConsoleServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>WinServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.groupProj.servlet.WinServlet</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>DeadServlet</servlet-name>
  <servlet-class>edu.ycp.cs320.groupProj.servlet.DeadServlet</servlet-class>
  </servlet>

  <!-- Servlet mappings -->
  <servlet-mapping>
    <servlet-name>AboutServlet</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/start</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>InstructionsServlet</servlet-name>
    <url-pattern>/instructions</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ConsoleServlet2</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>WinServlet</servlet-name>
    <url-pattern>/win</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>DeadServlet</servlet-name>
  	<url-pattern>/dead</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>start</welcome-file>
  </welcome-file-list>
</web-app>
